@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: #ddd; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;}
.foto{
  width:100px;
  border-radius:50%;
}
#ErrorMsgs           { color: #f61; font-size: smaller}



/*icono quiz*/
.main h2{
    position: relative;
}
.main h2:before{
    font-family: FontAwesome;
  content: "\f118";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:lightblue;
    font-size: 2em;
    padding-right: 1em;
    position: absolute;
    left: .5em;
  top:-.5em;
}
/*iconos temas*/
.humanidades, .tecnologia, .otro, .ocio, .ciencia{
    position: relative;
}
  
.humanidades:before , .tecnologia:before, .otro:before , .ocio:before , .ciencia:before  {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: brown;
    font-size: 1em;
    padding-right: 1em;
    position: absolute;
    left: -1em;
  top:0px;
}
.humanidades:before{
content: "\f19c";
}
.tecnologia:before{
content: "\f074";
}
.otro:before{
content: "\f08d";
}
.ocio:before{
content: "\f19d";
}
.ciencia:before{
content: "\f0c3";
}
